@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1086px;
  width: 86%;
  margin: 0 auto;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*=================================
  Header styling starts here
=================================*/
header {
  position: relative;
  width: 100%;
  height: 13.5vh;
  background-color: #363636;
}
header .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 a {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #ecebe0;
}
.navigation li {
  margin: 0 18px;
}
.navigation a {
  font-family: "Poppins", sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  color: #c5c1c7;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.navigation a:hover {
  color: #69ad30;
  transform: translateY(-5px) scale(1.04);
}
.hamburger {
  position: absolute;
  top: 50%;
  right: 4%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  display: none;
  transform: translateY(-50%);
  z-index: 10;
}
.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 20px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner {
  position: relative;
  width: 100%;
  min-height: 732px;
  background: url("../img/intro-bg.jpg") no-repeat top left/cover;
}
.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}
.banner-content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 58%;
  transform: translateX(-50%);
  text-align: center;
}
.banner-heading {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-content p {
  width: 80%;
  margin: auto;
  font-size: 19px;
  font-weight: 500;
  color: #d5f2de;
  margin-top: 5px;
  opacity: 0.8;
}
.info-btn {
  padding: 13px 23px;
  background-color: #69ad30;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 42px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
.info-btn:hover {
  color: #69ad30;
  background-color: #fff;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #000;
}
/*=================================
  banner styling ends here
=================================*/

/*=================================
  about us  styling starts here
=================================*/

.about {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .wrapper {
  display: flex;
  justify-content: space-between;
}
.about-us,
.main-service {
  width: 48%;
  height: 380px;
}
.third-heading {
  position: relative;
  color: #353639;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 56px;
}
.third-heading::after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #69ad30;
  position: absolute;
  left: 0;
  bottom: -20px;
  border-radius: 10px;
}
.green {
  color: #69ad30;
  font-weight: 600;
}
.para {
  color: #8e94a4;
  font-size: 13.5px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 35px;
  font-weight: 400;
}
.about-us .info-btn {
  margin-top: 36px;
  outline: none;
}
.about-us .info-btn:hover {
  background-color: #353639;
}
.main-service {
  display: flex;
  justify-content: space-between;
}
.main-service li {
  width: 47%;
}
.fourth-heading {
  font-size: 20px;
  font-weight: 500;
  color: #363636;
  margin: 17px 0 20px;
}
/*=================================
  about us  styling ends here
=================================*/
/*=================================
  Service styling starts here
=================================*/
.services {
  width: 100%;
  height: 831px;
  padding: 110px 0;
  background-color: #69ad30;
}
.services .third-heading {
  text-align: center;
  font-size: 33px;
  margin-bottom: 33px;
}
.services .third-heading::after {
  background-color: #c3dead;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.white {
  color: #ffffff;
}
.service-head-para {
  text-align: center;
  color: #ccebd3;
  font-size: 16px;
}
.services-box {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.services .service-content {
  width: 23.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 10px;
  transition: 0.5s;
}
.services .service-content:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
  transform: translateY(-10px);
}
.service-content figure {
  width: 219px;
  height: 216px;
  border-radius: 50%;
  background-color: #78b546;
}
.service-content img {
  border-radius: 50%;
  transform: scale(0.9);
}
.services-contentBx {
  text-align: center;
}
.content-heading {
  color: #fcfbed;
  font-size: 21px;
  margin: 17px 0 8px;
  transition: 0.5s;
}
.services .service-content:hover .content-heading {
  color: #000;
}
.content-para {
  color: #d9eda8;
  font-size: 14px;
  transition: 0.5s;
}
.services .service-content:hover .content-para {
  color: #333333;
}
/*=================================
  Service styling ends here
=================================*/
/*=================================
  Project-Gallery styling starts here
=================================*/

.project-gallery {
  width: 100%;
  /* height: 1200px; */
  padding: 90px 0;
}
.project-gallery .third-heading {
  text-align: center;
  font-size: 33px;
  margin-bottom: 29px;
  color: #35364a;
}
.project-gallery .third-heading::after {
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.project-gallery p {
  text-align: center;
  font-size: 17px;
  color: #707592;
}
.image-iterator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0 30px;
}
.image-iterator a {
  padding: 6px 18px;
  margin: 0 11px;
  background-color: #e5e5e5;
  font-size: 16px;
  text-transform: uppercase;
  color: #636976;
  border-radius: 4px;
  transition: 0.5s;
}
.image-iterator a.active {
  background-color: #69ad30;
  color: #e5e5e5;
}
.image-iterator a:hover {
  background-color: #69ad30;
  color: #e5e5e5;
}
.image-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 15px 0;
}
.image-list li,
.image-list figure {
  width: 343px;
  height: 229px;
  cursor: pointer;
  overflow: hidden;
}
.image-list li {
  margin: 5px;
  transition: 0.5s;
}
.image-list li:hover {
  transform: scale(1.05);
  border-radius: 10px;
}
/*=================================
  Project-Gallery styling ends here
=================================*/

/*=================================
  testimonials styling starts here
=================================*/

.slider-dots {
  display: none;
}
.testimonials {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 105px 0;
  background: url("../img/testimonials-bg.jpg") no-repeat center/cover;
  z-index: 0;
}
.testimonials::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #78b546;
  opacity: 0.9;
  z-index: -1;
}
.testimonials .third-heading {
  text-align: center;
  font-size: 33px;
  margin-bottom: 85px;
}
.testimonials .third-heading::after {
  background-color: #c4dcad;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial-content {
  display: flex;
  width: 80%;
  margin: auto;
}
.testimonial-content-box {
  min-width: 100%;
  text-align: center;
  display: none;
}
.testimonial-content-box:first-child {
  display: block;
}
.testimonial-content-box p {
  font-size: 15px;
  color: #d1e2c2;
  line-height: 30px;
  font-weight: 500;
}
.testimonial-content-box h5 {
  margin-top: 12px;
  color: #d1e2c2;
}
.testimonials .slider-dots {
  margin-top: 19px;
  display: flex;
  justify-content: center;
}
.testimonials .slider-dots a {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  text-indent: -999999px;
}
.testimonials .slider-dots .fa {
  float: right;
  width: 100%;
  height: 100%;
  color: #d1e2c2;
  text-indent: 0;
}
/*=================================
  testimonials styling ends here
=================================*/

/*=================================
  contact styling starts here
=================================*/
.contact {
  width: 100%;
  height: 878px;
  background-color: #f6f6f6;
  padding: 90px 0;
}
.contact .wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}
.contact .third-heading {
  color: #353639;
  margin-bottom: 35px;
}
.contact .third-heading:after {
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
}
.contact p {
  color: #8b8b97;
  letter-spacing: 1px;
}
.address-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
}
.address-box li {
  width: 27%;
}
.address-heading {
  position: relative;
  font-size: 16.5px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 28px;
  color: #656565;
}
.address-heading::after {
  content: "";
  width: 36%;
  height: 3px;
  background-color: #dcdcdc;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
address,
.working-hours p,
.email,
.closed,
.contact-info a {
  font-size: 14px;
  color: rgb(139, 139, 151);
  line-height: 25px;
}
.working-hours p {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
}
.contact-form {
  display: block;
  width: 90%;
  margin: 78px auto 0;
}
form {
  text-align: left;
}
.contact-form .address-heading::after {
  display: none;
}
input[type="text"],
input[type="email"],
textarea {
  width: 48%;
  font-size: 14px;
  padding: 8px 12px;
  border: 1.1px solid rgba(191, 191, 191, 0.664);
  outline: none;
}
input[type="text"] {
  margin-right: 20px;
}
textarea {
  margin-top: 20px;
  width: 100%;
  height: 123px;
}
form .info-btn {
  display: block;
  margin: 20px auto 10px;
}
form .info-btn:hover {
  background-color: #353639;
}
/*=================================
  contact styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
  width: 100%;
  height: 172px;
  background-color: #363636;
}
footer .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.social-icons li {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}
.social-icons li a {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-indent: -999999px;
  background-color: #464646;
}
.social-icons li a span {
  float: right;
  text-indent: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  color: #68ac2f;
  font-size: 20px;
}
.copyright-head,
.copyright p {
  display: inline-block;
  font-size: 15px;
  color: #535353;
}
.copyright p a {
  color: #838383;
}

.top-btn{
  position: fixed;
  bottom: 10%;
  right: 5%;
  text-indent: -99999px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 1.5px 5px #000;
}
.top-btn .fa{
  float: right;
  text-indent: 0;
  width:  100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/

@media (max-width: 1256px) {
  .project-gallery {
    height: auto;
  }
  .image-list li {
    width: 48%;
  }
  .image-list figure {
    width: 100%;
  }
  .services {
    height: auto;
  }
  .services-box {
    flex-wrap: wrap;
  }
  .services .service-content {
    width: 47%;
  }
  .services .third-heading {
    font-size: 40px;
  }
  .service-head-para {
    font-size: 19px;
  }
  .content-heading {
    font-size: 25px;
  }
  .content-para {
    font-size: 17px;
  }
}

@media (max-width: 1160px) {
  header {
    height: 10vh;
  }
  h1 a {
    font-size: 30px;
  }
  .hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 20;
    top: 5%;
  }
  .navigation {
    position: fixed;
    top: 0;
    right: -320px;
    width: 300px;
    height: 100vh;
    background-color: #363636;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(240, 235, 235, 0.747);
  }
  .banner-content {
    width: 100%;
  }
  .contact .wrapper {
    width: 90%;
  }
  .testimonial-content {
    width: 100%;
  }
  .testimonial-content-box p {
    font-size: 21px;
  }
  .service-head-para ,.project-gallery p {
    text-align: center;
    font-family: cursive;
}
}
@media (max-width: 800px) {
  .about {
    width: 100%;
    height: auto;
    display: flex;
    padding: 67px 0px;
  }
  .about .wrapper {
    display: block;
  }
  .about-us {
    height: auto;
    margin: 0 0 40px;
    text-align: center;
  }
  .about-us .third-heading::after {
    width: 29%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  .para {
    font-size: 21px;
    line-height: 27px;
    font-weight: 500;
  }
  .main-service figure {
    height: 281px;
  }

  .main-service img {
    height: 100%;
    object-fit: cover;
  }
  .fourth-heading {
    font-size: 30px;
  }
.testimonial-content-box p {
    font-size: 24px;
}
}
