@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1086px;
  width: 86%;
  margin: 0 auto;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*=================================
  Header styling starts here
=================================*/
header {
  position: relative;
  width: 100%;
  height: 13.5vh;
  background-color: #363636;
}
header .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 a {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #ecebe0;
}
.navigation li {
  margin: 0 18px;
}
.navigation a {
  font-family: "Poppins", sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  color: #c5c1c7;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.navigation a:hover {
  color: #69ad30;
  transform: translateY(-5px) scale(1.04);
}
.hamburger {
  position: fixed;
  top: 4.5%;
  right: 4%;
  height: 25px;
  width: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  display: none;
}
.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 20px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner {
  position: relative;
  width: 100%;
  min-height: 732px;
  background: url("../img/intro-bg.jpg") no-repeat top left/cover;
}
.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}
.banner-content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 58%;
  transform: translateX(-50%);
  text-align: center;
}
.banner-heading {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-content p {
  width: 80%;
  margin: auto;
  font-size: 19px;
  font-weight: 500;
  color: #d5f2de;
  margin-top: 5px;
  opacity: 0.8;
}
.info-btn {
  padding: 13px 23px;
  background-color: #69ad30;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 42px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
.info-btn:hover {
  color: #69ad30;
  background-color: #fff;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #000;
}
/*=================================
  banner styling ends here
=================================*/

/*=================================
  about us  styling starts here
=================================*/

.about {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .wrapper {
  display: flex;
  justify-content: space-between;
}
.about-us,
.main-service {
  width: 48%;
  height: 380px;
}
.third-heading {
  position: relative;
  color: #353639;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 56px;
}
.third-heading::after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #69ad30;
  position: absolute;
  left: 0;
  bottom: -20px;
  border-radius: 10px;
}
.green {
  color: #69ad30;
  font-weight: 600;
}
.para {
  color: #8e94a4;
  font-size: 13.5px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 35px;
  font-weight: 400;
}
.about-us .info-btn {
  margin-top: 36px;
  outline: none;
}
.about-us .info-btn:hover {
  background-color: #353639;
}
.main-service {
  display: flex;
  justify-content: space-between;
}
.main-service li {
  width: 47%;
}
.fourth-heading {
  font-size: 20px;
  font-weight: 500;
  color: #363636;
  margin: 17px 0 20px;
}
/*=================================
  about us  styling ends here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
